<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Recipe Details</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../about.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1935d064dd.js" crossorigin="anonymous"></script>
</head>

<body>
    <!---------------------Header for about Page---------->
    <header>
        <div class="navbar">
            <div class="mylogo">
                <h1>BELLA'S</h1s>

            </div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/explore">EXPLORE</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <hr>
    <!------section1-->
    <section id="showcase3">
        <div class="container">
            <h1>FULL RECIPE DETAILS</h1>
            <div class="showcase-img">
                <img src="/uploads/imageUpload<%= backs.imageUpload %>" alt="" srcset="">
                <h4>
                    Recipe Name:
                    <%= backs.recipy %>
                </h4>

            </div>

            <h4>Ingredients List</h4>

            <div class="ingredient-section">

                <p>
                    <%= backs.ingredients %>
                </p>

            </div>

            <h4>Recipe Steps</h4>
            <div class="recipe-section">
                <p>
                    <%= backs.instructions %>
                </p>

            </div>
        </div>
    </section>



    <!------section2-->
    <section class="section-comment">
        <div class="container">
            <h1>Comments From Users</h1>
        <% if (text.length> 0) { %>
            <% text.reverse().slice(0,3).forEach(feed=> { %>
                <div class="review-card">
                    <h3>
                        <%= feed.username %>
                    </h3>
                    <p>
                        <%= feed.comment %>
                    </p>

                    <h6>
                        <%= feed.rating %>
                    </h6>
                </div>

                <% }) %>

                    <% } %>
        </div>
    </section>


    <!--------styling section three-->

    <section id="image-animate">
        <div class="section-image">
            <img src="../images/image6.jpg">

        </div>

        <div class="review-form">
            <div class="form-text">
                <h4>Leave A Review</h4>
            </div>
           
            <div class="form-card">
                <h3>Review *</h3>

                <form action="/comment/<%=backs._id%>" method="post">
                    <input type="text" class="input" name="username" placeholder="enter your name">
                    <textarea name="comment" placeholder="enter your review here"></textarea>
                    <h5> Click The Stars To Rate Us</h5>
                    <div class="star-rating" name="rating">
                        <h6 class="star">&#9734;</h6>
                        <h6 class="star">&#9734;</h6>
                        <h6 class="star">&#9734;</h6>
                        <h6 class="star">&#9734;</h6>
                        <h6 class="star">&#9734;</h6>
                    </div>

                    <input type="text" class="input2" name="recipe_id" value="<%=backs._id%>">
                    <button class="form-button">Submit</button>
                </form>

            </div>

        </div>

    </section>


    <!---footer-->
    <footer>
        <div class="flex3">
            <div class="left-social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>

            </div>

            <div class="right-buttons">
                <button class="sign-up">Log Out</button>

            </div>


        </div>

        <p>Powered By Blogger &copy; 2022 | Theme By: <span class="">Ashbella</span> </p>
    </footer>







<script>
    const allStars = document.querySelectorAll('.star');
    allStars.forEach((star, i) => {
        star.onClick = function () {
            let currentStar = i + 1;
            allStars.forEach((star, j) => {
                if(currentStar >= j+1){
                    star.innerHTML = '&#9733';
                }else {
                    star.innerHTML = '&#9734';
                }
            })
        }

    })

</script>

</body>

</html>